* {
    background-color: #C0C0C0;
}

img {
    border: 4px;
    border-style: solid;
    border-color: red;
}

p {
    border: 2px;
    border-style: solid;
    border-color: green;
}

h1 {
    font-family: Georgia, serif
}

h2 {
    font-family: Georgia, serif
}

h3 {
    font-family: Georgia, serif
}


.recipes {
    color: #C0C0C0;
   font-family: Georgia, 'Times New Roman', Times, serif;
   
}

.cc-list, 
.bmc-list, 
.lpw-list {
    border: 2px;
    border-style: solid;
    border-color: gold;
}

.cc-list2,
.bmc-list2,
.lpw-list2 {
    border: 2px;
    border-style: solid;
    border-color: red;
}
