* {
    background-color: #C0C0C0;
}

.recipes {
   color: #FAEBD7; 
   font-family: Georgia, 'Times New Roman', Times, serif;
   
}

.c-list-recipe {
    border-style: dotted;
    border-width: 10px;
}
